pandas==1.1.5
numpy==1.19.5
seaborn==0.11.2
matplotlib==3.2.2
nltk==3.2.5
re==2.2.1
sklearn==0.22.2.post1
keras==2.6.0
tensorflow==2.6.0
torch==1.0.0
transformers==4.11.3
gdown==4.2.0
streamlit==1.2.0
